h1 {
	font-size: 60px;
	text-align: center;
	transition: 1s ease;
	font-family: 'Acme', sans-serif;
	color: #00FF7F;
}
h1:hover {
	transform: rotate(7deg) scale(1.07);
}
body {
	background-color: black;
}
p {
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	color: #F0FFFF;
}
ul{
	font-size: 24px;
	font-family: 'Acme', sans-serif;
	color: 	#F0FFFF;
}
em{
	font-size: 20px;
}
h2{
	color: #00FF7F;
	font-size: 30px;
}